@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>BOM表</title>
	<script>

	</script>
</head>
<body>
	<div>
		<label class="col-form-label" style="color:blue; font-size:larger;">@Html.Raw(ViewBag.BasicContent)</label>
	</div>
</body>
</html>
